@use '../../styles/scss/variables' as *;
@use '../../styles/scss/mixins' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    font-family: $font-barlow;
    overflow-x: hidden;
}

.mainContent {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    gap: 24px;
    height: 100%;
    width: 100%;
    @include responsive('medium') {
        padding: 128px 40px;
        gap: 32px;
    }

    @include responsive('large') {
        flex-direction: row;
        align-items: flex-end;
        padding: 128px 165px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 24px;
    text-align: center;
    @include responsive('medium') {
        width: 512px;
    }
    @include responsive('large') {
        align-items: flex-start;
        text-align: left;
        width: 540px;
    }

    .subtitle {
        color: $light-blue;
        text-transform: uppercase;
        font-size: $mp-6;
        font-family: $font-barCon;
        font-weight: 300;
        @include responsive('medium') {
            font-size: $dp-6;
        }
    }

    .title {
        color: var(--white);
        font-family: $font-bellefair;
        font-size: $mp-1;
        font-weight: 400;
        text-transform: uppercase;
        @include responsive('medium') {
            font-size: $dp-1;
        }
    }

    .description {
        color: var(--lightBlue);
        @extend %mp-9;
        font-weight: normal;
        @include responsive('medium') {
            font-size: $mp-6;
        }
        @include responsive('large') {
            font-size: $mp-4;
            line-height: 180%;
            font-weight: 300;
        }
    }
}

.btnContainer {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include responsive('large') {
        flex-grow: 0;
        margin-bottom: 30px;
    }
    

    .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        height: 144px;
        width: 144px;
        color: $blue;
        font-family: $font-bellefair;
        font-size: $mp-4;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        z-index: 1;

        @include responsive('medium') {
            font-size: $dp-4;
            height: 272px;
            width: 272px;   
        }
        
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: rgba($light-blue, 0.3);
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

            @include responsive('medium') {
            height: 320px;
            width: 320px;   
        }

            @include responsive('large') {
            height: 350px;
            width: 350px;   
        }
        }

        &:hover::after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.1);
        }

    }
}